p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body
{
  counter-reset: theorem definition equation example;
}

.equation {
  margin: 3pt 0;
  text-align: center;
}
.equation:not(.displaymath) {
  position: relative;
  counter-increment: equation;
}
.equation:not(.displaymath):after {
  content: "(" counter(equation) ")";
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 50%;
  line-height: 0;
}
.theorem,
.proof,
.definition,
.example,
.corollary,
.remark {
  margin: 12pt 0;
}
.theorem:before,
.proof:before,
.definition:before,
.example:before,
.corollary:before,
.remark:before {
  margin-left: 0pt;
}
.theorem {
  font-style: italic;
}
.theorem:before {
  counter-increment: theorem;
  content: "Theorem " counter(theorem) ". ";
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
}
.proof:before {
  content: "Proof . ";
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}
.proof:after {
  content: "\25FC";
  float:right;
}
.definition:before {
  counter-increment: definition;
  content: "Definition " counter(definition) ". ";
  font-style: normal;
  font-weight: bold;
}
.example:before {
  counter-increment: example;
  content: "Example " counter(example) ". ";
  font-style: normal;
  font-weight: bold;
}
.corollary:before {
  content: "Corollary . ";
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}
.remark:before {
  content: "Remark . ";
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}

